.container {
  margin-bottom: 20px;

  .background {
    position: relative;
    height: 90vh;
    background-image: url("~/assets/images/background_home.png");
    background-size: cover;
    background-position: initial;
    display: flex;
    overflow: auto;

    padding-top: 10%;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      overflow-x: hidden;
    }

    .content {
      padding-left: 150px;
      max-width: 800px;
      margin-right: 20%;

      @media screen and (max-width: 768px) {
        padding-left: unset;
        margin-right: unset;
      }

      &.about {
        max-width: unset !important;
        text-align: justify;
      }
    }
  }

  .title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: $primary-color;
  }

  .description {
    font-size: 1.5rem;
    margin: 20px 0px;
  }

  .text {
    font-size: 1rem;
    margin: 20px 0px;
  }

  .services {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
    padding-left: 20px;

    .service {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px 20px;
      border-radius: 5px;
    }
  }

  .contact {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: max-content;
    width: 500px;
    border: 1px dotted $primary-color;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .login-form {
    max-width: 400px;
    margin: 0 auto;

    label {
      display: block;
      text-align: left;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
}
