*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $default-font;
}

.btn-primary {
  display: block;
  text-align: center;
  min-height: 45px;
  padding: 10px 20px;
  background: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn-secondary {
  display: block;
  text-align: center;
  min-height: 45px;
  padding: 10px 20px;
  background: none;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: rgba($primary-color, 0.1);
  }
}

.form-group {
  margin: 10px 0;
}

input:not([type="checkbox"], [class="task-date"]) {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $secondary-color;
}

input + span {
  display: block;
  color: $error-color;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  width: 100%;
  text-align: left;
}

input + span::first-letter {
  text-transform: uppercase;
}

.link {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;
  text-decoration: underline;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

.icon {
  width: 15px;
  border: none;
  background: none;
}

.router-link-active {
  color: $primary-color !important;
  text-decoration: underline !important;
}

.container {
  margin-bottom: 20px;

  .background {
    position: relative;
    height: 95vh;
    background-image: url("~/assets/images/background_home.png");
    background-size: cover;
    background-position: initial;
    display: flex;
    overflow: auto;

    padding-top: 80px;

    @media screen and (max-width: $lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      overflow-x: hidden;
    }

    .container-fluid {
      padding: 0 50px;
    }
  }
}

.floating-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 32px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-weight: 300;
}

.floating-button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
}
