$grid-columns: 12;
$grid-gutter-width: 20px;
$lg: 768px; // Adicionei esta variável para o ponto de quebra do media query

@mixin grid-span($columns) {
  $half-gutter-width: $grid-gutter-width / 2;

  width: calc(100% / $grid-columns * $columns - #{$grid-gutter-width});
  float: left;
  margin-left: $half-gutter-width;
  margin-right: $half-gutter-width;

  box-sizing: border-box;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col {
  @include clearfix();
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include grid-span($i);
  }
}

@media screen and (max-width: $lg) {
  .col {
    width: 100%;
    margin-right: 0;
  }
}
